*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
object,
embed {
  max-width: 100%;
}
a {
  text-decoration: none;
  outline: 0;
}
strong {
  font-family: mb;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.container {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.wrapper-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.form {
  /* position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  overflow: hidden;
  border-radius: 50px; */
}

.input-text {
  flex: 1;
  background-color: #000000;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}
.input-text:focus {
  outline: none;
}

.btnAction {
  background-color: #ff5847;
  position: absolute;
  right: 0px;
  height: 100%;
  cursor: pointer;
  color: #fff;
  padding: 0 40px;
  border-radius: 50px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 20px;
}
li:last-child {
  border-bottom: none;
}
.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 20px;
  text-transform: capitalize;
}

.title-done {
  font-size: 20px;
  text-decoration-color: #333;
  text-decoration: line-through;
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.action {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

.btn-done {
  background-color: #1f8754;
}

.btn-undone {
  background-color: #7d871f;
}

.btn-edit {
  background-color: #6c757d;
}

.btn-delete {
  background-color: #dc3445;
}
span {
  cursor: pointer;
}

/* App.css */
.loading {
  height: 100%;
  border-radius: 8px;
  background: black;
  cursor: not-allowed;
  opacity: 0.5;
  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
